SERVICE_NAME=solar-service
SERVICE_PORT=3001

DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_SSL_MODE=
DB_PORT=

MIGRATION_RUN=FALSE
MIGRATION_VERSION=1

CACHE_ADDRESS=127.0.0.1
CACHE_DRIVER=redis
CACHE_USERNAME=
CACHE_PASSWORD=
CACHE_PORT=6379

CRON_PLAN_TIMER=30 22 * * *
CRON_REPORT_DATA_TIMER=30 22 * * *
CRON_LOCATION=Asia/Jakarta

AUTH_EMAIL=
AUTH_PASSWORD=
AUTH_BASE_URL=